<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create a Product</title>
</head>
<body>
  <div th:replace="header :: myheader"></div>
	<div align="center">
	<h3>add your products :</h3>
		<form action="#" th:action="@{/produit/save}" th:object="${product}" method="post">	 
			<table>
			<tr>                  
					<td>Product Name:</td>                     
					<td><input type="text" th:field="*{nom_produit}" /></td>          
				</tr>
				 
				<tr>
					<td>Product Price:</td>                     
					<td><input type="text" th:field="*{prix_produit}" /></td>
				</tr>
				 
				<tr>
					<td>Product Image:</td>                     
					<td><input type="file" th:field="*{img_produit}"></td>
				</tr>
				 
				<tr>               
					<td>Product Description:</td>                     
					<td><input type="text" th:field="*{description_produit}" /></td>           
				</tr>
				 
				<tr>
					                    
					<td>Product's Brand:</td>                     
					<td><input type="text" th:field="*{marque_produit}" /></td>
					                
				</tr>
				 
				<tr>                 
					<td>Product Bar code:</td>                     
					<td><input type="text" th:field="*{codeBarre_produit}" /></td>               
				</tr>
				 
				<tr>
					                    
					<td>Product Reference:</td>                     
					<td><input type="text" th:field="*{ref_produit}" /></td>           
				</tr>
				 
<!-- 				<tr> -->
<!-- 					                     -->
<!-- 					<td>Product Add Date:</td>                      -->
<!-- 					<td><input type="date" th:field="*{dateAjout_produit}" /></td>          -->
<!-- 				</tr> -->

				<tr>
					                    
					<td>Product Creation Date:</td>                     
					<td><input type="date" th:field="*{dateFabrication_produit}" /></td>         
				</tr>

				<tr>
					                    
					<td>Product Expiration Date :</td>                     
					<td><input type="date" th:field="*{dateExpiration_produit}" /></td>         
				</tr>

				<tr>
					<td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Submit"  /></td>
				</tr>
			</table>
			</form:form>
	</div>
	<div th:replace="footer :: myfooter"></div>
</body>
</html>